.crt {
  background: linear-gradient(to top, #000000, #000000, #333333, #333333);
  background-size: cover;
  background-size: 100% 1px;
}

@media screen{
  .crt {
    animation: scanlines infinite 55s linear ;
  }
  
} 
@keyframes scanlines {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -10px;
  }
}
