body {
  background-color: black;
}

@keyframes crtAnimation {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 0 10000%;
    }
}

.old-crt-monitor {
    box-shadow: inset 0px 0px 2rem;
    background-image: linear-gradient(0deg, #0000 10%, #fff1 90%, #0000 100%);
    animation: crtAnimation 100s linear infinite;
    background-size: 100% 80%;
}


* {
  display: 
  margin: 0;
  font-family: 'Courier New', monospace;
  overflow: hidden;
  color: #fff;
}

p.script-category {
  display: inline;
  font-weight: bold;
}

p#script-category:before {
    content: "\a";
    white-space: pre;
}

.subject-details p:after {
  content:"\a";
  white-s[ace: pre;
}
  

h1 {
  font-weight: bold;
  font-size: 28px;
}
