/* General */

body {
  background-color: #FFF1C2;
}

* {
  font-family: sans-serif
}

h1 {
  font-family: monospace;
}
  
/* Header */ 

header {
  width: 100%;
  height: auto;
  position: sticky;
  color: #000000;
  background-color: #FFD758;
  font-family: "ubuntu sans mono", monospace;
}


/* Header Menu */

ul.menu li a{
  list-style-type: none;
  display: inline;
  text-decoration: none;
}


/* Main */

/* !!!!!!Footer!!!!!! */

footer {
  width: 100%;
  height: auto;
  background-color: #345A1B;
}

div.socials {
  display: inline-flex;
}

div.monogram {
  display: inline-flex;
}

div.endmatter {
  display: inline-flex;

/* Footer Socials */

.socials ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100px;
  background-color: #39A993A
}

.socials li a {
  display: block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
 }

.socials li a:hover {
  background-color: #FFD758;
  color: black;
}
