body {
  background-color: black;
}

* {
  color: green;
  font-family: courier new, monospace;
}

p.script-category {
  display: inline;
  font-weight: bold;
}

p#script-category:before {
    content: "\a";
    white-space: pre;
}

h1 {
  font-weight: bold;
  font-size: 28px;
}
