header {
  width: 100%;
  color: white;
  background-color: black;
}

ul.social-links {
  border: 1px red;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.social-links li {
  float: left;
}

.social-links li a {
  display: inline;
  padding: 8px 16px;
  color: white;
  text-decoration: none;
}

.social-links li a:hover {
  background-color: #FFD758;
  color: black;
}

footer {
  width: 100%;
  background-color: black;
}
