header {
  background-color: teal;
}

body {
  background-color: white;
}

footer {
  background-color: #EB7D00;
}

h3 footer {
  text-align: center;
}

h4 footer {
  text-align: center;
}

ul.socials li {
  text-align: center;
  text-color: yellow;
}
  
